.selectedQuestion {
	padding: 10px 12px;
	border: 3px solid var(--light-blue-background);
	margin-bottom: 6px;
	border-radius: 6px;
	background-color: #d0dcfc;
}

.questionCard {
	padding: 10px 12px;
	margin-bottom: 6px;
	border-radius: 6px;
	cursor: pointer;
	background: var(--light-text);
	color: var(--modal-text);
	border: 1px solid var(--blue-primary-dark);
	font-size: 13px;
	display: flex;
	align-items: center;
	gap: 8px;
}

.inactiveAfterFirstPoll {
	background: var(--question-answered-bg); /* FOR the answered questions */
	border-color: var(--blue-primary-dark);
	color: var(--modal-text);
}

.saveModalButtons {
	display: flex;
	gap: 12px;
	justify-content: center;
	margin-bottom: 8px;
	width: 100%;
}

.saveModalButtons button {
	padding: 10px 16px;
	font-size: 20px;
	width: 100%;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	transition: box-shadow 0.5s ease, color 0.5s ease;
}

.saveModalButtons button:hover {
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.confirm {
	background: var(--confirm);
	color: var(--light-text);
}

.decline {
	background: var(--decline);
	color: var(--light-text);
}